<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>

  <body>
    <div class="container"
    <% if content_for?(:body_attributes) %>
      <%= yield(:body_attributes) %>
    <% end %>
    >
      <%= render "layouts/alert" %>
      <%= render "layouts/header" %>
      <% if user_signed_in? %>
        <div class="row">
          <strong>ユーザー情報</strong>
          <ul>
            <li id="user_id" data-user_id="<%= current_user.id %>">ID: <%= current_user.id %></li>
            <li>ユーザー名: <%= current_user.name %></li>
            <li>メールアドレス: <%= current_user.email %></li>
          </ul>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
