<!DOCTYPE html>
<html>
  <head>
    <title>Shiritori</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <ul>
      <li><%= link_to "top", root_path %></li>
      <li><%= link_to "about", static_pages_about_path %></li>
      <li><%= link_to "help", static_pages_help_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
